@font-face {
  font-family: "Inter-Bold";
  src: url(assets/fonts/Inter-Bold.otf);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(assets/fonts/Inter-Medium.otf);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(assets/fonts/Inter-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#home_div {
  width: 90%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#navbar {
  width: 100%;
  background-color: transparent;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nav_btn {
  border: none;
  background-color: transparent;
}
.nav_icon {
  width: 18px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-right: 9px;
}
.navset_lbl {
  font-family: "Inter-Bold";
  font-size: 26px;
  color: #000000;
}

#body_div {
  width: 100%;
  background-color: transparent;
  height: 100%;
  overflow: hidden;
}

#menubar {
  width: 100%;
  background-color: orange;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section_div {
  width: 100%;
  height: 100%;
}
.option_sec {
  height: auto;
  width: 100%;
  background-color: #ff3334;
  border-radius: 5px;
}

#menu_div {
  background-color: transparent;
}

#addstudent_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  overflow-x: scroll;
}

#managestudent_btn {
  width: 100%;
  border: none;
  height: 60px;
  background-color: transparent;
  font-family: "Inter-Medium";
  color: #fefefe;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.managestudentmenu_sec {
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.managestudentmenu_btn {
  width: 90px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #ff3334;
  border: none;
  color: #fefefe;
  font-family: "Inter-Regular";
  border-radius: 3px;
}

.sadminicon {
  width: 25px;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-left: 10px;
  margin-right: 12px;
  filter: invert(99%) sepia(43%) saturate(276%) hue-rotate(51deg)
    brightness(116%) contrast(99%);
}

.canceladdstudent_nav {
  width: 100%;
  background-color: transparent;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

#canceladdstudent_btn {
  background-color: transparent;
  border: none;
  font-family: "Inter-Regular";
}

.canceladdstudent_img {
  width: 22px;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: invert(0%) sepia(1%) saturate(5%) hue-rotate(168deg) brightness(106%)
    contrast(101%);
}

.manage_lbl {
  font-family: Inter-Medium;
  font-size: 18px;
  margin-left: 8px;
}

.input-wrap {
  width: 100%;
  background-color: transparent;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-txt {
  width: 100%;
  border: none;
  font-family: "Inter-Regular";
  background-color: transparent;
  box-sizing: border-box;
  padding-left: 15px;
  color: #6d6d6d;
}

.input-txt:focus {
  outline: none;
}

#formaddstudent_div {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow-x: scroll;
}

.canceladdstudent_header {
  width: 100%;
  background-color: transparent;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.input-year {
  justify-content: space-evenly;
}

.year,
.section,
.regular {
  width: auto;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Inter-Regular";
  font-size: 14px;
  color: #6d6d6d;
  accent-color: #ff3334;
}

.input-wrap-section,
.input-wrap-regular {
  width: 100%;
  background-color: transparent;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  gap: 10px;
  display: none;
}

.section,
.regular {
  border: 0.5px solid #e0e0e0;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 5px;
}

.input-wrap-regular {
  width: 100%;
  background-color: transparent;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  gap: 10px;
}

.input-wrap-addstudent {
  border: none;
}

#submitstudent_btn {
  border: none;
  background-color: #ff3334;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Inter-Medium";
  border-radius: 5px;
  color: #fefefe;
}
